body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgb(100, 205, 236);
}

fieldset {
    background-color: rgb(235, 215, 250);
}

legend {
    background-color: aquamarine;
    color: white;
    padding: 20px;
}

.form-row input :not([type="submit"]) {
    padding: 5px;
    border-radius: 5px;
    background-color: #FFF;
}

.form-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.radio-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}
.form-row label {
    width: 150px;
    text-align: right;
}
.form-spacer {
    width: 150px;
    text-align: right;
}