.schedule {
    border: 1px solid #000;
    box-shadow: 3px 3px 3px rgba(30, 30, 30, 0.5);
    caption-side: bottom;
    border-spacing: 0;
    border-collapse: collapse;
}

.schedule th, .schedule td {
    border: thin solid #000;
    background-color: #da9292;
    padding: 10px;
}

.schedule thead tr {
    background-color: rgb(19, 19, 120);
    color: #fff;
}

.schedule tfoot tr {
    background-color: rgb(19, 19, 120);
    color: #fff;
}

.schedule tr {
    background-color: #999;
}