body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #8c86c4;
}

header {
    background: #0ba8eb;
    color: white;
    text-align: left;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #5817b3;
    padding: 0.5rem;
    flex-wrap: wrap;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
}

nav a.active {
    background-color: #3b0c85;
    font-weight: bold;
}

.container {
    display: flex;
    flex: 1;
}

.profile-card {
    background: #eee;
    text-align: center;
}

.profile-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

aside {
    width: 30%;
    background: #eee;
    padding: 1rem;
}

main {
    text-align: left;
    flex: 1;
    padding: 1rem;
    display: grid;
    color: white;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
}

article {
    flex: 1;
    background-color: #0a91e0;
    color: white;
    padding: 15px;
    text-align: left;
    box-shadow: 5px 5px 4px rgba(31, 31, 31, 0.5);
}

img {
    max-width: 100%;
    height: auto;
}

nav .current {
    background-color: white;
    color: #622eaa;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    border-radius: 5px;
}

.table-container {
    overflow-x: auto; 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 5px 5px 4px rgba(30, 30, 30, 0.5);
}

caption {
    color: white;
    font-size: large;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #25b8da;
    color: rgb(255, 255, 255);
}

td:nth-child(3) {
    text-align: center; 
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #ddd; 
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

fieldset {
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

legend {
    font-weight: bold;
    color: #ffffff;
    background: #11b8d2;
    padding: 5px 10px;
    border-radius: 5px;
}

label {
    display: flex;
    text-align: left;
    margin-bottom: 5px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    background-color: #ffffff;
    border: 1px solid #00e1ff;
    color: #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-row {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.form-row label {
    width: 235px;
    text-align: left;
}

.radio-row {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}


textarea {
    resize: vertical;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

button {
    background-color: #0ed3bc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

button:hover {
    background-color: #00ffff;
}


footer {
    color: white;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px rgba(30, 30, 30, 0.5);
    margin-left: 10px;
    border-radius: 5px;
    border-left: 3px solid #333;
}

@media (max-width: 700px) {
    nav {
        flex-direction: column; 
        align-items: flex-start;  
        background: #4620a7;
        align-items: stretch;
    }

    .nav-link,
    .nav .current {
    font-size: 18px;
    padding: 16px;
    }

    nav a {
        padding: 10px;  
        text-align: left;  
        width: 100%; 
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        max-width: 100%;
        margin-left: 0px;
        border-left: 0px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    }

    aside {
        max-width: 100%;
        order: 4; 
    }
}

@media print {
    nav, footer {
        display: none; 
    }
}
