body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background: #0ba8eb;
    color: white;
    text-align: left;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #5817b3;
    padding: 0.5rem;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
}

nav a.active {
    background-color: #3b0c85;
    font-weight: bold;
}

.container {
    display: flex;
    flex: 1;
}

.profile-card {
    background: #eee;
    text-align: center;
}

.profile-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

aside {
    width: 30%;
    background: #eee;
    padding: 1rem;
}

main {
    text-align: left;
    flex: 1;
    padding: 1rem;
    display: grid;
    gap: 1rem;
}

figcaption {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
}

article {
    flex: 1;
    background-color: #ddd;
    padding: 15px;
    text-align: center;
    box-shadow: 5px 5px 4px rgba(31, 31, 31, 0.5);
}

img {
    max-width: 100%;
    height: auto;
}

nav .current {
    background-color: white;
    color: #5817b3;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    border-radius: 5px;
}


@media (max-width: 700px) {
    nav {
        flex-direction: column; 
        align-items: flex-start;  
        background: #4620a7;
    }

    nav a {
        padding: 10px;  
        text-align: left;  
        width: 100%; 
    }

    .container {
        flex-direction: column;
    }

    aside {
        max-width: 100%;
        order: 4; 
    }
}

@media print {
    nav, footer {
        display: none; 
    }
}
